
.main {
	position: relative;
}

.overlayContainer, .title, .fullpage, .fixed-placeholder {
	position: relative;
	z-index: 2;
}


.back 	{ z-index: 0; }
#map 	{ z-index: 1; }
.front 	{ z-index: 2; }



body:not(.debug) .fixed-placeholder {
	visibility: hidden;
}


.overlayContainer--left, .overlayContainer--right {
	width: 300px;
	// min-width: 300px;
}

.overlayContainer--right {
	left: calc(100% - 300px);
}

.fixed {
	position: fixed;
	z-index: 3;
	display: none;
	overflow: hidden;

	&.fixed-bottomLeft {
		bottom: 50px;
		left: 50px;
		right: 50px;
		height: 150px;
	}

	&.show {
		display: block;
	}
}

.fixed-story {
	& > * {
		position: absolute;
		margin-top: 300px;

		&.show {
			margin-top: 0;
			@include transition(margin-top 0.2s ease-out);
		}
	}
}

.geocodedImages {
	position: fixed;
	display: none;


}
.geocoded {
		width :250px;
	}