
.main {
	position: relative;
}

.overlayContainer, .title, .fullpage, .fixed-placeholder, .storyBlock {
	position: relative;
	z-index: 3;
}


.back 	{ z-index: 1; }
#map 	{ z-index: 2; }
.front 	{ z-index: 3; }



body:not(.debug) .fixed-placeholder {
	visibility: hidden;
}


.overlayContainer--left, .overlayContainer--right {
	width: 400px;
	// min-width: 300px;
}

.overlayContainer--right {
	left: calc(100% - 400px);
}

.fixed {
	position: fixed;
	z-index: 3;
	display: none;
	overflow: hidden;

	&.fixed-bottomLeft {
		bottom: 50px;
		left: 50px;
		right: 50px;
		height: 150px;
	}

	&.show {
		display: block;
	}
}


.storyBlock--left {
	left: 50px;
	width: 50%;
}


.geocodedImages {
	display: none;
}

.geocoded {
	width :250px;
}

.imgprv {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;

	.imgprv-inner {
		position: absolute;
		right: 50px;
		bottom: 100px;
		width: 400px;	
	}

	img {
		width: 100%;
	}

}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	z-index: 99;

	.modal-inner {
		left: 10%;
		position: relative;

		img {
			width: 80%;
		}
	}
}

.isModalOpen {
	.modal {
  		pointer-events: auto;
  		opacity: 1;
	}

}