


.main {
	position: relative;
}

.overlay, .title, .fullpage, .fixed-placeholder {
	position: relative;
	z-index: 2;
}


.back 	{ z-index: 0; }
#map 	{ z-index: 1; }
.front 	{ z-index: 2; }

.title {
	img {
		width: 100%;
	}

	h1 {
		position: absolute;
  		margin-top: -50%;
	}
}

body:not(.debug) .fixed-placeholder {
	visibility: hidden;
}




.fixed {
	position: fixed;
	z-index: 3;
	display: none;

	&.fixed-bottomLeft {
		bottom: 50px;
		left: 50px;
	}

	&.show {
		display: block;
	}
}

.fixed-story {
	& > * {
		display: none;

		&.show {
			display: block;
		}
	}
}

.geocodedImages {
	position: fixed;
	display: none;


}
.geocoded {
		width :250px;
	}