$bg: #fdf6e9;

body {
	background-color: $bg;
}

.debug {
	[data-trigger] {
		background-color: rgba(255,0,0,.2);
	}
}

.main {
	position: relative;
}

.overlay, .title, .fullpage, .story {
	position: relative;
	z-index: 2;
}

.overlay {
	width: 250px;
}


.back 	{ z-index: 0; }
#map 	{ z-index: 1; }
.front 	{ z-index: 2; }

.title {
	img {
		width: 100%;
	}

	h1 {
		position: absolute;
  		margin-top: -50%;
	}
}

.fullpage {
	background-color: $bg;
	padding: 50px 80px 100px;
	line-height: 3rem;
}

.geocodedImages {
	position: fixed;
	display: none;
}