$bg: #fde7b9;
$red: #fa4861;
$emerald: #4bc8b3;
$night: #2c4164;

$bg_dark: #897e65;
$red_dark: #982636;
$emerald_dark: #1c7a6b;

$bg_light: #fdf6e9;
$red_light: #ffb4be;
$emerald_light: #bfeae3;
$night_light: #545c8f;

