node_modules
dist
.tmp
.sass-cache
tests
raw/photos
app/styles/_leaflet.scss
content/carto.psd
content/ux
IGN_EL_HIERRO_terremotos.avi
carto/shp/source
app/data/0/img
app/data/1/img
app/data/2/img
app/data/3/img
app/data/4/img
app/data/5/img
app/data/6/img
app/data/7/img