Map {
-torque-frame-count:92;
-torque-animation-duration:99999;
-torque-time-attribute:"datetime";
-torque-aggregation-function:"count(cartodb_id)";
-torque-resolution:8;
-torque-data-aggregation:linear;
}

#terremotos_1{
  image-filters: colorize-alpha(blue, cyan, lightgreen, yellow , orange, red);
  marker-file: url(http://s3.amazonaws.com/com.cartodb.assets.static/alphamarker.png);
  marker-fill-opacity: 0.4*[value];
  marker-width: 35;
}
#terremotos_1[frame-offset=1] {
 marker-width:37;
 marker-fill-opacity:0.2; 
}
#terremotos_1[frame-offset=2] {
 marker-width:39;
 marker-fill-opacity:0.1; 
}
#terremotos_1[frame-offset=3] {
 marker-width:41;
 marker-fill-opacity:0.06666666666666667; 
}